// wiki: https://niri-wm.github.io/niri/
// default config: niri/resources/default-config.kdl
// includes
include "binds.kdl"
include "layout.kdl"
include "outputs.kdl"
include "rules.kdl"
include "tablet.kdl"
// spawn at startup
spawn-at-startup "waybar"
spawn-at-startup "flameshot"
spawn-sh-at-startup "wl-paste --watch cliphist store &"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store &"
spawn-sh-at-startup "~/.scripts/rnd-wallpaper.bash daemon && ~/.scripts/rnd-wallpaper.bash"
hotkey-overlay {
  // disable pop-up at startup.
  skip-at-startup
}
// input
input {
  keyboard {
    xkb {
      layout "us,ara,egyptian"
      options "grp:win_space_toggle"
    }
    numlock
  }
  touchpad {
    tap
    natural-scroll
  }
  mouse {
 //

  }
}
// screenshot
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// omit client-side decorations if possible
prefer-no-csd
cursor {
  xcursor-theme "Bibata-6e099"
}
environment {
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "qt6ct"
}
